//**** Variables de mi app ***//

$background-yellow: #f8e72a;
$background-gray: #ebebeb;
$color-text-input: #5f5a5a;

/* ***** Class to extend ****** //
 Estas clases creadas con el simbolo % se utilizan así para que al compilarse 
 el sass a css no se compilen hasta que no sean extendidas, esto evita que el css se cargue y ponga pesado*/

%box-shadow-header {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(219, 212, 219, 1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(219, 212, 219, 1);
  box-shadow: 0px 2px 8px 0px rgba(219, 212, 219, 1);
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  height: 100vh;
  background-color: $background-gray;
}

// ********** Estilos del componente Header ****************//

.header-search {
  background-color: $background-yellow;
  @extend %box-shadow-header;
  position: fixed;
  width: 100%;

  .content {
    width: 70%; //  Uso porcentajes para que se ajuste al padre que lo contiene y se comporte de forma responsive
    @extend %flex-center;
    height: 80px;
    margin: auto;

    .logo {
      height: 40.99px;
      width: 55.99px;
      margin: 0 20px 0 0;
    }

    .input-search {
      display: flex;
      width: 100%;

      .search {
        height: 40.99px;
        width: 100%;
        border-style: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-sizing: border-box;
        padding: 0 15px;
        color: $color-text-input;
        font-size: 16px;
      }
      input {
        outline: none;
      }

      .container-icon-search {
        height: 40.99px;
        width: 50px;
        background-color: $background-gray;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-sizing: border-box;
        @extend %flex-center;
        cursor: pointer;
        outline: none;
        border-style: none;
      }
    }
  }
}



// ********** styles component home ****************//

.container-cards {
  background-color: $background-gray;
  width: 100%;
  padding-top: 100px;

  .card {
    width: 70%;
    margin: auto;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 100%;

    .container-imgs {
      @extend %flex-center;

      .img-product {
        height: 200px;
        width: 200px;
        border-radius: 5px;
      }
    }
    .container-information {
      margin: 0 5px;
      padding: 0 10px;

      .price {
          font-size: 22px;
      }

      .name-product {
        width: 80%;
      }
    }
    .icon-shipping{
        margin: 0 10px;
        margin-top: -1;
    }
    
  }
}

@media (max-width: 1135px) {
  .container-cards {
    .card {
      .container-imgs {
        .img-product {
          height: 100% !important;
          width: 100%;
        }
      }
    }
  }
}
